<%- include header %>
<ul class="archive">
	<% posts.forEach(function (post, index) { %>
		<li><h4><%= post.time.day %></h4></li>
		<li><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></li>
	<% }) %>
</ul>
<%- include footer %>
